/* 
.mother-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6px;
}
.card{
    width: 200px;
    height: 300px;
}
.img-card{
    width: 100px;
    height: 200px;

} */

.card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 300px;
    height: 400px;
    background: gold;
    margin: 10px;
}
.img-card{
    height: 100px;
    width: 100px;
}